.login__page {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 2rem;
    /*flex-direction: column; !* Stack elements vertically on small screens *!*/
}



/* Responsive Styles */
@media (max-width: 1226px) {
    .login__page {
        padding: 1rem;
        flex-direction: column;

    }

    .gogo__form {
        padding: 0.5rem;
        max-width: 100%;
    }
}

@media (max-width: 651px) {
    .gogo__login__content h1 {
        font-size: 2rem;
    }
    .gogo__login__content h3 {
        font-size: 1rem;
    }
    .gogo__login__content p {
        font-size: 1.5rem
    ;
    }
}
@media (max-width: 527px) {
    .gogo__login__content p:after {
        display: none;

    }
}

@media (max-width: 417px) {
   .gogo__form__inputs__input {
       width: 20rem;
   }
}