.login__page {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 2rem;
    /*flex-direction: column; !* Stack elements vertically on small screens *!*/
}

/* Responsive Styles */
@media (max-width: 1226px) {
    .login__page {
        padding: 1rem;
        flex-direction: column;
    }

    .gogo__form {
        padding: 0.5rem;
        max-width: 100%;
    }
}

@media (max-width: 651px) {
    .gogo__login__content h1 {
        font-size: 2rem;
    }
    .gogo__login__content h3 {
        font-size: 1rem;
    }
    .gogo__login__content p {
        font-size: 1.5rem;
    }
}
@media (max-width: 527px) {
    .gogo__login__content p:after {
        display: none;
    }
}

@media (max-width: 417px) {
    .gogo__form__inputs__input {
        width: 20rem;
    }
}
.reset__password__link {
    height: 100vh;
    width: 99vw;
    background-color: rgba(0, 0, 0, 0.87);
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cut__icon {
    position: absolute;
    top: 8rem;
    right: 2rem;
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--gogo--primary--color);
}
