.gogo__dash__container {
    display: flex;
    /* z-index: -1; */

  
}

.gogo__dash__container .gogo__profile {
    width: 100%;
}

.gogo__profile {
    /* width: 22rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}