.gogo__product {
    height: 16rem;
    cursor: pointer;
    width: 22rem;
    max-width: 42rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: 2px 2px 2px red; */
    border-radius: 0.6rem;
    margin: 0.4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


/* .gogo__product:hover {
    outline: 2px solid var(--border--color)
} */
.gogo__product:active {
    height: 15.8rem;
    width: 21.8rem;

}
.gogo__product__name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gogo__product__name h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.gogo__product__icon {
    font-size: 1.6rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: rgba(51, 50, 50, 0.555);
}
.gogo__extra__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gogo__extra__details h3 {
    text-align: center;
}

/*  options sections */
.gogo__product__options__section {
    width: 100%;
    position: absolute;
    top: 0;
}
.gogo__select__options {
    font-size: 2rem;
    float: right;
}
.gogo__select__options:hover {
    background-color: rgb(207, 216, 224);
    border-radius: 50%;
    /* padding: 0.5rem; */
}
.options_nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0.7rem;
    right: -5rem;
    z-index: 999;
    
}
.options_nav span {
    width: 100%;
}

.options_nav span:hover {
    background-color: var(--gogo--primary--color);
}
