.gogo__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.gogo__header__nav {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    /* z-index: -1; */
}

.gogo__header__logo {
    display: flex;
    justify-content: center;
    /* padding: rem; */
    align-items: center;
}

.gogo__header__logo img {
    width: 4rem;
    border-radius: 50%;
}

.gogo__header__logo__text__logo {
    font-weight: bold;
    color: var(--gogo--primary--color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.gogo__header__nav__navs {
    display: flex;
    justify-content: center;
    align-items: center;
}



.gogo__header__nav__navs__navbar {
    margin: 1rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    border-radius: 0.5rem;
    height: 2.1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gogo__header__nav__navs__navbar span {
    font-size: 1rem;
    padding: 0.3rem;
}

.gogo__header__nav__navs__navbar:active {
    font-size: 0.9rem;
    height: 2rem;
}

.gogo__header__nav__child__navs {
    position: absolute;
    bottom: -6rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.712);
    height: fit-content;
    width: 9rem;
    display: none;
    transition: 0.3s ease-in-out;
    color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;

}

.gogo__header__nav__navs__child__navbar {
margin-bottom: 0.4rem;
display: flex;
justify-content: center;
align-items: center;
}
.gogo__header__nav__navs__child__navbar span {
    font-size: 1rem;
    padding: 0.3rem;
}

.gogo__settings:hover .gogo__header__nav__child__navs {
    display: block;
}
.darkmode {
     background-color: #080707f1;
    /* color: rgb(73, 60, 60); */
    color: white;
}
.register__nav {
    background-color: var(--gogo--primary--color);
    color: white;
    padding: 1rem;
}
