.gogo__side__navbar {
    background-color: rgb(247, 243, 243);
    height: 100vh;
    padding: 1rem;
    position: sticky;
    top: -2rem;
    border-top-right-radius: 2rem;
    width:15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gogo__side__navbar .gogo__side__nav__child {
    display: flex;
    flex-direction: column;
}
.gogo__side__nav {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
}
.gogo__side__nav:hover {
    background-color: var(--login-and-register-button-backColor);
    color: white;
}
.gogo__side__nav__active {
    color: var(--gogo--primary--color);
}
.gogo__side__nav span {
    margin: 0.2rem;
}

.gogo__side__navbar__toggle {
    position: absolute;
    right: -2rem;
    font-size: 2rem;
    color: var(--gogo--primary--color);
    cursor: pointer;
    top: 0;
}
.gogo__side__navbar__toggle:active  {
    outline: 2px dotted green;
}
.gogo__side__navbar__responsive {
    width: 5rem;
}

.gogo__top__details__of__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gogo__user__img {
    width: 5rem;
    height: 5rem;
}
.gogo__side__navbar__responsive .gogo__user__img {
    width: 3rem;
    height: 3rem;
}
.gogo__username {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin: 0.3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.gogo__user__email {
    color: gray;
    text-align: center;
    font-weight: bold;
}
.gogo__user__profile__pic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center
}
