.gogo__project__search {
    /* border: 2px solid var(--gogo--primary--color); */
    
}
.gogo__logo {
    /* color: var(--gogo--primary--color);; */
}
.gogo__project__level__header {
    /* color: rgb(0, 130, 216); */
    border-radius: 0.4rem;
    position: sticky;
    margin-left: 2rem;
    top: 0;
    left: 0;
    background-color: rgb(247, 243, 243);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}