/*  product updated container */
.gogo__update__container {
    background-color: rgba(0, 0, 0, 0.808);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: crosshair;
}

@media screen and (max-width: 702px) {
    .gogo__update__input {
        width: 22rem;
    }

}